.navbar-collapse {
    text-align: center;
}

.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: black !important;
}

/*TABLET VIEW*/
@media only screen and (min-width: 768px) {

}

/*BIG TABLET VIEW*/
@media only screen and (min-width: 1024px) {
}

/*DESKTOP VIEW*/
@media only screen and (min-width: 1025px) {
}

/*MOBILE VIEW*/
@media only screen and (max-width: 767px) {
    .navbar-collapse {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/*SUPER SMALL VIEW*/
@media only screen and (max-width: 330px) {
    .navbar-collapse {
        margin-left: 15%;
        margin-right: 15%;
    }
}