.intro .intro-header, .intro .intro-description {
    text-align: left;
}

.intro-video {
    animation: fadein 3s;
}

.intro {
    background-image: url('../../../images/intro_banner_3.jpg');
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    /* background-color: whitesmoke; */
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}